.t-suspend-button {
  position: fixed;
  top: 400px;
  right: 0;
  width: 4rem;
  height: 4rem;
  /* border: 1px solid #ccc; */
  /* box-shadow: 1px 1px 1px #ccc; */
}
.t-suspend-button img {
  width: 100%;
  height: 100%;
}

.t-suspend-button-animate {
  transition-duration: .4s;
}